body{
    background-color:rgb(200, 200, 231);
}
.boo{
    color: white;
    margin-top: 40px;
}
.bs{
    background-color: yellowgreen;
    height: 700px;
    text-align: center;
}
.bs1{
    background-color: white;
    height: 700px;
}
.social-link{
    display:inline;
}
.social-link a i{
    background-color: black;
    color: lightblue;
    height: 40px;
    width: 40px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 50%;
    margin-top:10px;
}
.social-link1{
    display:inline;
    position: relative;
    left: 17%;
}
.social-link1 a i{
    background-color: black;
    color:  #408fda;
    height: 40px;
    width: 40px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 50%;
    margin-top:14px;
    
}
@media (max-width:600px){
    body{
        background-color:white;
    }
    .bs{
        display: none;
}
.bs1{
    margin-top: 0%;
}

}
@media (min-width:700px){
    .social-link1{
        display: none;  
}
}

